.bodycontent{
    display: block;
    background-color: #A85;
    background-image: url(skylineL.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
    height: 100%;
    position: relative;
}

.heading, .logo, .soon-here, .registration{
    text-align: center;
}

.heading h1{
    color: red;
    font-size: 100px;
}

.heading img{
    max-width: 90%;
    width: 168mm;
}

.heading p{
    font-weight: bold;
}

.logo img, .registration img, .soon-here img{
    width: 113mm;
    max-width: 80%;
    margin-top: 3em;
}

.login-button{
    color: blue;
}

.login-logo{
    margin: 30px;
}

.login-form {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    height: 60%;
    margin: 100px auto;
  }
  
  /* On mouse-over, add a deeper shadow */
.login-form:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.form-details{
    margin: auto;
    width: 70%;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
  }

.error-message{
    display: none;
}